<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Minifana</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body class="h-screen">
<div>
    <label>Make</label>
    <select name="attribute" hx-get="/test" hx-swap="none">
        {{ range .Options }}
        <option value={{ . }}>{{ . }}</option>
        {{ end }}
    </select>
</div>

<div id="chart_div"></div>

</body>
<script type="text/javascript">

    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(() => drawChart([
        {{ range .Dates }}
            [{{ .Date }}, {{ .Val }}],
        {{ end }}
    ]));

    function drawChart(options) {

        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Time of Day');
        data.addColumn('number', 'Emails Received');

        data.addRows(options.map(function (option) {
            return [new Date(option[0]), Number(option[1])];
        }));

        var options = {
            title: 'Total Emails Received Throughout the Day',
            height: 450
        };

        var chart = new google.charts.Bar(document.getElementById('chart_div'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
    }

    document.addEventListener('htmx:afterSwap', function(evt) {
        drawChart(JSON.parse(evt.detail.xhr.response))
    });
</script>
</html>

